# Python
__pycache__/
*.py[cod]
*.pyd
.Python

# Virtualenv
.venv/
venv/
ENV/

# Node / Vite
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (no subir secretos)
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

